.Appdiv{
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width:414px) {
  .Appdiv{
    overflow: hidden;
  }
}
.mainnavbardiv{
  position: fixed;
  top:0px;
  left:0px;
  right: 0px;
  z-index: 1;
  width: 100vw;
  /* height: 12.9vh; */
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#FAFAFA;
}

.parent .child {
  /* font-family: 'Plus Jakarta Sans'; */
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
letter-spacing: 0.005em;
color: #A5A5A5
  
}

.parent .child:hover {
  color:black;
  font-size: 18px;
  font-weight: 600;
}

.imgcontainer{
  position: relative;
  width: 6.53vw; /*width: '94.09px' */
  height: auto;
  top: 15px;
}

.logoimg{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.imgcontainer2 {
  position: relative;
  width: 3.44vw; /*height: '54px' */
  height: auto;
  top: 3px;
  right: 2px;
}

.imgcontainer3{
  position: relative;
  width: 3.2vw; /*width: '46.26px' */
  height: auto;
  top: 21px;
  right: 22px;
}

.button {
  font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFB84F;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
    width: 13.88vw;
    height: 54px;
    gap: 10px;
    box-shadow: 0px 15px 30px rgba(255, 153, 0, 0.1);
    color: white;
    border-radius: 27px;

}

.button:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 13.88vw;
  height: 54px;
  background: linear-gradient(94.76deg, #FFB84F 3.79%, #FF9900 76.73%);
  box-shadow: 0px 15px 30px rgba(255, 153, 0, 0.1);
  border-radius: 10000px;
} 

.navbar2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1.94vw;
  position: -webkit-sticky;
  position: fixed;
  top: 120px;
  left: 0px;
  right: 0px;
  z-index: 1;
  height: 55px;
  background: #313131;
}

.navbarrow{
  position: relative;
  left: -2px;
}

.secnavparent .secnavchild{
  /* font-family: 'Plus Jakarta Sans'; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #A5A5A5;
}

.secnavparent .secnavchild:hover{
  color: #FF9900;
}

/********************scrollbar start********************/
.scrollbar{
  position: relative;
  top: 175px;
  width: 100vw;
  height: 284px;
  padding: 33px 100px 0px 100px;
  /* border: 1px solid #ccc;*/
  
}

.scrollbar__content{
  display: flex;
  flex-direction: row;
  gap:24px;
  width: 100vw;
  background: linear-gradient(270deg, #FFFFFF 2.5%, rgba(255, 255, 255, 0) 48.62%, rgba(255, 255, 255, 0) 98.75%);
  /* background-color: brown; */
  height: 251px;
  overflow-y: hidden;
  overflow-x: hidden;
  /* overflow-y: none; */
}

.scrollbar_btndivone{
  position: absolute;
  display: inline;
  top: 130px;
  left: 2.85vw;
  z-index: 1;
}
.scrollbar_btn{
  border: none;
  background-color: transparent;
}
.scrollbar_btndivtwo{
  display: inline;
  position: absolute;
  top: 130px;
  right: 2.85vw;
}
/***************************************@media screen width:800px to 1200px********************************************/
@media screen and (min-width:800px) and (max-width:1200px){

}
/***************************************@media screen width:414px********************************************/
@media screen and (max-width:414px){
  .scrollbar{
    position: relative;
    top: 0px;
    width: 100%;
    height: 240px;
    padding: 0px 0px 0px 0px;
    /* border: 1px solid #ccc;*/
    
  }

  .scrollbar__content{
    display: flex;
    flex-direction: row;
    gap:12px;
    width: 100%; /*width: 93vw;*/
    background: linear-gradient(270deg, #FFFFFF 2.5%, rgba(255, 255, 255, 0) 48.62%, rgba(255, 255, 255, 0) 98.75%);
    height: 251px;
    overflow: auto;
  }

  .scrollbar__content::-webkit-scrollbar{
    display:none;
  }
  .scrollbar_btndivone{
    display: none;
  }
  .scrollbar_btndivtwo{
    display: none;
  }
}

/********************match card********************/
.matchcard{
  position: relative;
  width: 398px;
  height: 242px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 14px;
  /* background-color: green; */
  box-sizing: border-box;
}

.matchcard__mainheading{
  display: flex;
  margin: 12px;
  justify-content: space-between;
}

.matchcard__mainheading_logo{
  position: relative;
  width: 42px;
  height: 37.09px;
}

.imgclass{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.matchcard__mainheading_seriesname{
  display: flex;
  position: relative;
}

.matchcard__mainheading_seriesname__text{
  position: relative;
  width: 134px;
  height: 25px;
  top: 2px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #313131;
}

.matchcard__mainheading_timediv{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
  width: 84px;
  height: 35px;
  background-color: #FAFAFA;
  border-radius: 17.5px;
}

.matchcard__mainheading_time{
  width: 64px;
    height: 15px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #313131;
}

.matchcard__logosdiv{
  display: flex;
  justify-content: space-between;
  width: 396px;
  padding: 9px 48px 0px 48px;
  /* background-color: darkslategray; */
}

.matchcard__logosdiv__teamlogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.teamimgdiv{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 11px;
}

.teamimgdiv__img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.matchcard__logosdiv__teamlogo_title{
  width: 34px;
  height: 20px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #313131;
}

.matchcard__logosdiv__Vsmaindiv{
  position: absolute;
  top: 87px;
  left: 180.5px;
  width: 35px;
  height: 35px;
}

.matchcard__logosdiv__Vsmaindiv__subdiv{
  display: flex;
  position: relative;
}

.matchcard__logosdiv__Vsmaindiv__subdiv__logo{
    width: 35px;
    height: 35.47px;
    background: #FFFFFF;
}

.matchcard__logosdiv__Vsmaindiv__subdiv__text{
  position: relative;
  width: 20px;
  height: 25px;
  left: -22px;
  top: 16px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #313131;
}

.matchcard__logosdiv__teamlogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.teamimgdiv{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 15px 10px; */
  /* gap: 10px; */
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  /* background-color: lightblue; */
  border: 1px solid #EBEBEB;
  border-radius: 11px;
}

.teamimgdiv__img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.matchcard__logosdiv__teamlogo_title{
  width: 34px;
  height: 20px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #313131;
}

.matchcard__datetime{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 131px;
  width: 396px;
}

.matchcard__datetime__time{
  display: flex;
  justify-content: center;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #313131;
}

.matchcard__datetime__date{
  display: flex;
    justify-content: center;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #313131;
}

.matchcard__createbtn{
  display: flex;
    justify-content: center;
    position: absolute;
    top: 174px;
    width: 396px;
    height: 54px;
}

.matchcard__createbtndiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 372px;
  height: 54px;
  border-radius: 27px;
  background: linear-gradient(94.76deg, #FFB84F 3.79%, #FF9900 76.73%);
  box-shadow: 0px 15px 30px rgba(255, 153, 0, 0.1);
    
}

.matchcard__createbtndiv__btn{
  width: 189px;
  height: 20px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  color: #FFFFFF;
}
/****************************************@media screen width:414px****************************************/
@media screen and (max-width:414px) {
    .matchcard{   /*changed*/
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 315px;
      height: 240px;
      background: #FFFFFF;
      border: 1px solid #EBEBEB;
      border-radius: 14px;
    }
    
    .matchcard__mainheading{  /*changed*/
      display: flex;
      margin: 12px;
      width: 291px;
      position: relative;
      left: -1px;
      justify-content: space-between;
    }
    
    .matchcard__mainheading_seriesname__text{ /*changed*/
      position: relative;
      width: 134px;
      height: 25px;
      top: 2px;
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      letter-spacing: -0.5px;
      color: #313131;
    }
    
    .matchcard__logosdiv__teamlogo_title{ /*changed*/
      width: 34px;
      height: 20px;
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 800;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #313131;
    }

    .matchcard__logosdiv{ /*changed*/
      display: flex;
      justify-content: space-between;
      width: 280px;
      padding: 9px 9px 0px 8px;
    }
    
    .matchcard__logosdiv__Vsmaindiv{  /*changed*/
      position: absolute;
      top: 87px;
      left: 142.5px;
      width: 35px;
      height: 35px;
    }
    
    .matchcard__datetime{ /*changed*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 131px;
      width: 315px;
    }
    .matchcard__createbtndiv{/*changed*/
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 372px;
      height: 48px;
      border-radius: 27px;
      background: linear-gradient(94.76deg, #FFB84F 3.79%, #FF9900 76.73%);
      box-shadow: 0px 15px 30px rgba(255, 153, 0, 0.1);
        
    }
    .matchcard__createbtn{  /*changed*/
      display: flex;
      justify-content: center;
      position: absolute;
      top: 174px;
      width: 215px;
      height: 54px;
    }
    
} 
/*****************************************News div*****************************************/

.newsmaindiv{
  position: relative;
  top: 133px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 471px;
  padding: 24px 0px 0px 6.94vw;
}
.newsmaindiv_subdiv1st{}
.newsmaindiv_subdiv1st_newsheadingdiv{
  position: relative;
  width: 199px;
  height: 38px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: -0.005em;
  text-transform: capitalize;
  color: #313131;
}
.newsmaindiv_subdiv1st_newsheadingdiv_text{}
.newsmaindiv_subdiv1st_imgdiv{}
.newsmaindiv_subdiv1st_imgdiv_img{
  position: relative;
  width: 610px;
  height: 352px;
  top: 15px;
  background: linear-gradient(180deg, rgba(49, 49, 49, 0) 50%, #313131 92.31%);
  border-radius: 14px;
}
.newsmaindiv_subdiv1st_imgdiv_img_img{}
.newsmaindiv_subdiv1st_imgdiv_textdivmain{
  width: 610px;
  position: absolute;
  top: 250px;
  left: 24px;
  color: white;
}
.newsmaindiv_subdiv1st_imgdiv_textdivmain_text1st{
  width: 317px;
  height: 18px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
}
.newsmaindiv_subdiv1st_imgdiv_textdivmain_text2nd_div{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 553px;
  height: 48px;
  top: 8px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.newsmaindiv_subdiv1st_imgdiv_textdivmain_text2nd_div_text1st{
  position: relative;
  width: 396px;
  height: 48px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.newsmaindiv_subdiv1st_imgdiv_textdivmain_text2nd_div_text2nd{
  position: absolute;
  top: 19px;
  width: 129px;
  height: 18px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.newsmaindiv_subdiv2nd{
  width: auto;
  height: 405px;
  padding: 0px 0px 0px 20px;
  position: relative;
  display: flex;
  /* background-color: lightblue; */
  flex-direction: column;
}
.newsmaindiv_subdiv2nd_titlediv{
  position: relative;
  width: 178px;
  height: 38px;
  left: 10px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.005em;
  text-transform: capitalize;
  color: #000000;
}
.newsmaindiv_subdiv2nd_titlediv_text{}

.newsmaindiv_subdiv2nd_feediv{
  position: relative;
  width: auto;
  height: 410px;
}

.newsmaindiv_subdiv2nd_1stdiv{
  width: 599px;
  height: 170px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  top: 15px;
}
.newsmaindiv_subdiv2nd_1stdiv_imgdiv{
  width: 170px;
  height: 170px;
  background: linear-gradient(180deg, rgba(49, 49, 49, 0) 50%, #313131 92.31%);
  border-radius: 12px;
}
.newsmaindiv_subdiv2nd_1stdiv_imgdiv_img{}
.newsmaindiv_subdiv2nd_1stdiv_textdiv{
  position: relative;
  width: 417px;
  /* width: 28.95vw; */
  height: 166px;
}
.newsmaindiv_subdiv2nd_1stdiv_textdiv_1stext{
  width: 115px;
    height: 18px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #313131;
}
.newsmaindiv_subdiv2nd_1stdiv_textdiv_2ndtext{
  width: 417px;
  height: 60px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: #313131;
}
.newsmaindiv_subdiv2nd_1stdiv_textdiv_3rdtext{
  width: 335px;
  height: 76px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #313131;
}

.newsmaindiv_subdiv2nd_2ndtdiv{
  position: relative;
  top: 26px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
/* .newsmaindiv_subdiv2nd_1stdiv_imgdiv{}
.newsmaindiv_subdiv2nd_1stdiv_imgdiv_img{}

.newsmaindiv_subdiv2nd_1stdiv_textdiv{}
.newsmaindiv_subdiv2nd_1stdiv_textdiv_1stext{}
.newsmaindiv_subdiv2nd_1stdiv_textdiv_2ndtext{}
.newsmaindiv_subdiv2nd_1stdiv_textdiv_3rdtext{} */

/***************************************@media screen max width:414px********************************************/
@media screen and (max-width:414px){ 
  .newsmaindiv{/*changed*/
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px 0px 0px 0vw;
    overflow-x: auto;
  }
  .newsmaindiv::webkit-scrollbar{/*changed*/
    display: none;
  }
  .newsmaindiv_subdiv1st{/*changed*/
    overflow-x: clip;
    overflow-y: clip;
  }
  .newsmaindiv_subdiv1st::-webkit-scrollbar{/*changed*/
    display: none;
  }
  .newsmaindiv_subdiv1st_newsheadingdiv{
    position: relative;
    width: 199px;
    height: 38px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.005em;
    text-transform: capitalize;
    color: #000000;
  }
  .newsmaindiv_subdiv1st_newsheadingdiv_text{}
  .newsmaindiv_subdiv1st_imgdiv{
    position: relative;
    width: 381px;
    height: auto;
  }
  .newsmaindiv_subdiv1st_imgdiv_img{/*changed*/
    position: relative;
    width: 381px;
    height: 233px;
    top: 15px;
    border-radius: 14px
  }
  .newsmaindiv_subdiv1st_imgdiv_img_img{/*changed*/
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .newsmaindiv_subdiv1st_imgdiv_textdivmain{
    width: 357px;
    height: auto;
    position: absolute;
    top: 136px;
    left: 24px;
    color: white;
  }
  .newsmaindiv_subdiv1st_imgdiv_textdivmain_text1st{
    width: 305px;
    height: 18px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
  }
  .newsmaindiv_subdiv1st_imgdiv_textdivmain_text2nd_div{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 357px;
    height: 48px;
    top: 8px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
  .newsmaindiv_subdiv1st_imgdiv_textdivmain_text2nd_div_text1st{
    position: relative;
    width: 303px;
    height: 48px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    word-wrap: break-word;
  }
  .newsmaindiv_subdiv1st_imgdiv_textdivmain_text2nd_div_text2nd{
    position: absolute;
    top: -154px;
    left: 230px;
    width: 129px;
    height: 18px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
  .newsmaindiv_subdiv2nd{
    width: 381px;
    height: auto;
    padding: 30px 0px 0px 0px;
    position: relative;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    overflow-x: clip;
    overflow-y: clip;
  }
  .newsmaindiv_subdiv2nd::-webkit-scrollbar{
    display: none;
  }
  .newsmaindiv_subdiv2nd_titlediv{
    position: relative;
    width: 178px;
    height: 38px;
    left: 10px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.005em;
    text-transform: capitalize;
    color: #313131;
  }
  .newsmaindiv_subdiv2nd_titlediv_text{}
  
  .newsmaindiv_subdiv2nd_feediv{
    position: relative;
    width: 100%;
    height: 410px;
  }
  
  .newsmaindiv_subdiv2nd_1stdiv{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    position: relative;
    top: 15px;
    word-wrap: break-word;
  }
  .newsmaindiv_subdiv2nd_1stdiv_imgdiv{
    width: 170px;
    height: 170px;
    background: linear-gradient(180deg, rgba(49, 49, 49, 0) 50%, #313131 92.31%);
    border-radius: 12px;
  }
  .newsmaindiv_subdiv2nd_1stdiv_imgdiv_img{}
  .newsmaindiv_subdiv2nd_1stdiv_textdiv{
    position: relative;
    width: 200px;
  }
  .newsmaindiv_subdiv2nd_1stdiv_textdiv_1stext{
    width: 115px;
      height: 18px;
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      text-transform: capitalize;
      color: #313131;
  }
  .newsmaindiv_subdiv2nd_1stdiv_textdiv_2ndtext{
    width: 201px;
    height: 56px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: #313131;
    word-wrap: break-word;
  }
  .newsmaindiv_subdiv2nd_1stdiv_textdiv_3rdtext{
    width: 218px;
    position: relative;
    top: 0px;
    height: 60px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #313131;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .newsmaindiv_subdiv2nd_2ndtdiv{
    position: relative;
    width: 381px;
    height: 170px;
    top: 26px;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}